<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200&display=swap" rel="stylesheet">

    <!--owl-carousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">


    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <title>Home</title>

</head>

<body>
    <div class="container-fluid">
        <div class="header" id="header">
            <div class="header-inner" id="header-inner">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg my-navbar py-lg-0 py-sm-0 py-0 px-lg-0">
                        <span></span>
                        <img src="/static/img/logo.svg" alt="" style="width: 50px">
                        <a class="navbar-brand" href="#">Voluntario</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon" data-scroll="out">
                            <div id="nav-icon1">
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>
                          </span>
                        </button>

                        <div class="collapse navbar-collapse mobile-menu d-flex flex-lg-row flex-column flex-xl-row justify-content-lg-end justify-content-md-start right-side" id="navbarSupportedContent">
                            <ul class="navbar-nav align-self-stretch">
                                <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
                                <li class="nav-item"><a class="nav-link" href="about">About us</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact">contact us</a></li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0 ml-2 align-self-stretch">
                                <a href="register" class="header-btn">Sign up</a>
                            </form>
                            <form class="form-inline my-2 my-lg-0 ml-2 align-self-stretch">
                                <a href="login" class="header-btn">Log In</a>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>


        <div class="intro-section custom-owl-carousel" id="home-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 mr-auto">

                        <div class="owl-carousel slide-one-item-alt-text">
                            <div class="slide-text">
                                <h1>Volunteer</h1>
                                <br>
                                <p class="mb-5">Explore thousands of volunteer missions, community challenges and acts of kindness, Unleash the good in you and help make the world a better place.</p>
                                <p><a href="#" target="_blank" class="btn btn-outline-light py-3 px-5">Get Started</a></p>
                            </div>
                            <div class="slide-text">
                                <h1>Connect</h1>
                                <br>
                                <p class="mb-5">Connect with good doers from the region and reach out to other passionate volunteers. Discover who's near and dear and just as passionate and dedicated to doing good as you are.</p>
                                <p><a href="#" target="_blank" class="btn btn-outline-light py-3 px-5">Get Started</a></p>
                            </div>
                            <div class="slide-text">
                                <h1>Inspire</h1>
                                <br>
                                <p class="mb-5">Inspire other members of the voluntario community with your hard working and commitment to various volunteer missions.</p>
                                <p><a href="#" target="_blank" class="btn btn-outline-light py-3 px-5">Get Started</a></p>
                            </div>
                            <div class="slide-text">
                                <h1>Rate</h1>
                                <br>
                                <p class="mb-5">Rate and document your volunteer journey with star ratings and reviews to help others on their journey.</p>
                                <p><a href="#" target="_blank" class="btn btn-outline-light py-3 px-5">Get Started</a></p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 ml-auto">

                        <div class="owl-carousel slide-one-item-alt">
                            <img src="{{url_for('static', filename='img/img_1.jpg')}}" alt="Image" class="img-fluid">
                            <img src="{{url_for('static', filename='img/img_2.jpg')}}" alt="Image" class="img-fluid">
                            <img src="{{url_for('static', filename='img/img_3.jpg')}}" alt="Image" class="img-fluid">
                            <img src="{{url_for('static', filename='img/img_4.jpg')}}" alt="Image" class="img-fluid">
                        </div>

                        <div class="owl-custom-direction">
                            <a href="#" class="custom-prev"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="custom-next"><i class="fas fa-chevron-right"></i></span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>





        <div class="container-cards">
            <div class="box">
                <span></span>
                <div class="content">
                    <h2>Card One</h2>
                    <p>Lorem ipsum dolor sit amet, conse</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="box">
                <span></span>
                <div class="content">
                    <h2>Card Two</h2>
                    <p>Lorem ipsum dolor sit amet, conse</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="box">
                <span></span>
                <div class="content">
                    <h2>Card Three</h2>
                    <p>Lorem ipsum dolor sit amet, conse</p>
                    <a href="#">Read More</a>
                </div>
            </div>

        </div>

        <h1 class="services">Our Services</h1>
        <div class="container-grid-boxes">
            <div class="service-box">
                <div class="icon" style="--i:#4eb7ff">
                    <ion-icon name="checkbox"></ion-icon>
                </div>
                <div class="content">
                    <h2>Partake</h2>
                    <p>
                        Partake in as many volunteering missions as you can to accumlate the highest hours and become one of the top donors.
                </div>
            </div>
            <div class="service-box">
                <div class="icon" style="--i:#fd6494">
                    <ion-icon name="stats"></ion-icon>
                </div>
                <div class="content">
                    <h2>Stats</h2>
                    <p>Discover a long list of useful statistics about your profile to help ypu track your progress and achievements.
                    </p>
                </div>
            </div>
            <div class="service-box">
                <div class="icon" style="--i:#43f390">
                    <ion-icon name="search"></ion-icon>
                </div>
                <div class="content">
                    <h2>Search</h2>
                    <p>Search through our numerous oppurtunities and filter them based on your preference to quicly find your next mission.
                    </p>
                </div>
            </div>
            <div class="service-box">
                <div class="icon" style="--i:#ffb508">
                    <ion-icon name="notifications"></ion-icon>
                </div>
                <div class="content">
                    <h2>Stay Alert</h2>
                    <p>Never miss an oppurtunity by subscribing to our mailling list to stay notified of the latest volunteering missions.
                    </p>
                </div>
            </div>
            <div class="service-box">
                <div class="icon" style="--i:#37ba82">
                    <ion-icon name="star-half"></ion-icon>
                </div>
                <div class="content">
                    <h2>Rate</h2>
                    <p>Rate every volunteering journey to help other users select their next mission and improve our platform.
                    </p>
                </div>
            </div>
            <div class="service-box">
                <div class="icon" style="--i:#cd57ff">
                    <ion-icon name="pin"></ion-icon>
                </div>
                <div class="content">
                    <h2>Explore</h2>
                    <p>Explore volunteering missions closest to you to help make the world a better place.
                    </p>
                </div>
            </div>



        </div>

        <!--end of container fluid-->
    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li>
                <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
        </ul>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="faq">FAQ</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </footer>



    <!-- <img src="https://i2.wp.com/www.worth.com/wp-content/uploads/2020/09/joel-muniz-A4Ax1ApccfA-unsplash-scaled-e1600800461302.jpg?fit=1259%2C839&ssl=1"
       style="margin-top:5%;
              width:100%;
              height: 20%;
              overflow: auto;
              "
        class="" alt=""> -->






    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script>
        $('.slide-one-item-alt').owlCarousel({
            center: false,
            items: 1,
            dots: false,
            loop: true,
            margin: 0,
            smartSpeed: 1000,
            autoplay: true,
            pauseOnHover: true,
            onDragged: function(event) {
                console.log('event : ', event.relatedTarget['_drag']['direction'])
                if (event.relatedTarget['_drag']['direction'] == 'left') {
                    $('.slide-one-item-alt-text').trigger('next.owl.carousel');
                } else {
                    $('.slide-one-item-alt-text').trigger('prev.owl.carousel');
                }
            }
        });


        $('.slide-one-item-alt-text').owlCarousel({
            center: false,
            items: 1,
            dots: false,
            loop: true,
            margin: 0,
            smartSpeed: 1000,
            autoplay: true,
            pauseOnHover: true,
            onDragged: function(event) {
                console.log('event : ', event.relatedTarget['_drag']['direction'])
                if (event.relatedTarget['_drag']['direction'] == 'left') {
                    $('.slide-one-item-alt').trigger('next.owl.carousel');
                } else {
                    $('.slide-one-item-alt').trigger('prev.owl.carousel');
                }
            }
        });




        $('.custom-next').click(function(e) {
            e.preventDefault();
            $('.slide-one-item-alt').trigger('next.owl.carousel');
            $('.slide-one-item-alt-text').trigger('next.owl.carousel');
        });

        $('.custom-prev').click(function(e) {
            e.preventDefault();
            $('.slide-one-item-alt').trigger('prev.owl.carousel');
            $('.slide-one-item-alt-text').trigger('prev.owl.carousel');
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function() {
                $(this).toggleClass('ham-open');
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.navbar-toggler,.overlay').on("click", function() {
                $(".mobile-menu,.overlay").toggleClass('open-nav');
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() < 60) {
                    $('.header-inner').removeClass('navbar-scroll');
                } else {
                    $('.header-inner').addClass('navbar-scroll');
                }
            });
        });
    </script>

</body>

</html>