@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.menu-bar {
    display: block;
    position: relative;
    margin-top: 0;
    display: inline-flex;
    width: 100%;
    background-color: black;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 0 0 0 0;
}

.menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.menu-bar li:hover {
    color: black;
}

.menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    overflow: hidden;
}

.col {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 40px;
}

.container .card-2 {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 50px;
}

.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card-2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #28a3dc;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card-2:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: 'Volunteer';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    color: rgba(255, 255, 255, 0.02);
    font-weight: 800;
    font-style: italic;
    z-index: 1;
}

.container .card-2:after {
    content: 'Organizer';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    color: rgba(255, 255, 255, 0.02);
    font-weight: 800;
    font-style: italic;
    z-index: 1;
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card-2 .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0;
    transform: translateY(0);
}

.container .card-2:hover .imgBx {
    top: 0;
    transform: translateY(0);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.container .card-2 .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card-2 .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card-2:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card-2 .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.container .card-2 .contentBx .size,
.container .card-2 .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card-2:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card-2:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card-2 .contentBx .size h3,
.container .card-2 .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}

.container .card-2 .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {
    color: #111;
    background: #9bdc28;
}

.container .card-2 .contentBx .size span:hover {
    color: #111;
    background: #9bdc28;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card-2 .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #f00;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card-2 .contentBx a {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.container .card-2:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}